<div class="promocoes-wrapper">
<main class="card-main">
    <div class="login-container">
        <div class="login-title">
            <span class="title">Promoção Relampâgo</span>
        </div>
        <div class="container-text mt-4">
            <span class="text-muted">Esta é uma promoção</span>
        </div>
        <div class="container-text mt-3 mb-5">
            <span class="text-muted" id="text">Esta é a descrição da promoção</span>
        </div>
        <div class="buttons mt-3 ml-4">
            <button type="submit" routerLink="/promocoes" class="btn btn-primary mr-2">EU QUERO</button>
        </div>
    </div>
</main>
<main class="card-main">
    <div class="login-container">
        <div class="login-title">
            <span class="title">Promoção Relampâgo</span>
        </div>
        <div class="container-text mt-4">
            <span class="text-muted">Esta é uma promoção</span>
        </div>
        <div class="container-text mt-3 mb-5">
            <span class="text-muted" id="text">Esta é a descrição da promoção</span>
        </div>
        <div class="buttons mt-3 ml-4">
            <button type="submit" routerLink="/promocoes" class="btn btn-primary mr-2">EU QUERO</button>
        </div>
    </div>
</main>
</div>